
.form-control{
  margin-bottom: 20px;
}
label{
  font-weight: bold;
}
input[type="text"]{
  display: block;
  width:300px;
  padding: 8px;
}
input[type="email"]{
  display: block;
  width:300px;
  padding: 8px;
}
input[type="password"]{
  display: block;
  width:300px;
  padding: 8px;
}
button{
  width: 320px;
  padding: 10px;
  cursor: pointer;
}
input:hover{
  outline:none;
}

input[type="radio"]{
 margin-left: 20px;
}
.error{
  color: red;
}